@charset "UTF-8";
/* CSS Document */

/* kolorpicker palette styles */

div.kolorpicker-palette { float: left; margin: -51px 0 0 55px; }
div.kolorpicker-palette ul li { list-style: none; float: left; width: 42px; height: 15px; background: #D0DFE5; border: 1px solid #666666; font-size: 10px; text-align: center; margin: 0 3px 0 0; padding: 4px 3px 0px 3px; -moz-border-radius: 4px; -webkit-border-radius: 4px; color: #353448; cursor: pointer; }
#kolorPicker .kolorpicker-palette-select { background: #353448; color: #D0DFE5; }
div.x-close-box { float: right; width: 15px; height: 15px; background: #353448; border: 1px solid #666666; text-align: center; padding: 0 3px 4px 3px; margin: -35px 2px 0 0; display: block;-moz-border-radius: 4px; -webkit-border-radius: 4px; color: #ffffff; cursor: pointer; }
#kolorPicker { border: 1px solid #353448; margin: 0; background: #f5f9fb; padding: 40px 5px 5px 5px; color: #fff; width: 290px; height: auto; z-index: 10; position: absolute; top: -6px; left: -8px; }
#spacer { width: 87px; height: 20px; background: #f5f9fb }
